<!DOCTYPE html>
<html>

<head>
    <title>Main page NG V3</title>
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/vuetify@3.5.0/dist/vuetify.min.css" rel="stylesheet" />
</head>

<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.5.0/dist/vuetify.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <div id="app"></div>

    <template id="app-template">
        <!-- <v-card> -->
        <v-layout>
            <v-app-bar color="primary" prominent>
                <v-app-bar-nav-icon variant="text" @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

                <v-toolbar-title>Drawer example</v-toolbar-title>

                <v-spacer></v-spacer>

                <template v-if="$vuetify.display.mdAndUp">
                    <v-btn icon="mdi-magnify" variant="text"></v-btn>

                    <v-btn icon="mdi-filter" variant="text"></v-btn>
                </template>

                <v-btn icon="mdi-dots-vertical" variant="text"></v-btn>
            </v-app-bar>
            <!--
                temporary
            -->
            <!--v-navigation-drawer expand-on-hover rail v-model="drawer"-->
            <v-navigation-drawer temporary style="margin: 0px; padding: 10px; width: 15%" v-model="drawer">

                <v-list>
                    <v-list-item :prepend-avatar="faceIdUrl" :subtitle="getGeneratedEmailAddress()"
                        :title="getGeneratedName()">
                    </v-list-item>
                </v-list>

                <v-list density="compact" nav>
                    <v-list-item prepend-icon="mdi-folder" title="My Files" value="myfiles"></v-list-item>
                    <v-list-item prepend-icon="mdi-account-multiple" title="Shared with me"
                        value="shared"></v-list-item>
                    <v-list-item prepend-icon="mdi-star" title="Starred" value="starred"></v-list-item>
                    <v-list-item prepend-icon="mdi-logout" title="Logout" value="logout"></v-list-item>
                    <!--v-select density="compact" nav prepend-icon="mdi-account-check">
                        </v-select-->
                </v-list>

                <!--v-btn  color="green" block>LOAD</v-btn>
                    <v-list :items="items"></v-list>
                    <v-btn  color="primary" block>LOGOUT</v-btn-->


            </v-navigation-drawer>

            <v-main>
                <v-card-text>
                    The navigation drawer will appear from the bottom on smaller size screens.
                </v-card-text>
                <div id="main" class="ma-3">
                    <v-row ma="10">
                        <v-col cols="12" sm="12" ma="10">
                            <v-btn color="main" block>OK</v-btn>
                        </v-col>
                    </v-row>
                    <v-row ma="10">
                        <v-col cols="12" sm="12" ma="10">
                            <v-btn color="main" block>OK</v-btn>
                        </v-col>
                    </v-row>
                    <v-row ma="10">
                        <v-col cols="12" sm="12" ma="10">
                            <v-btn color="main" block>OK</v-btn>
                        </v-col>
                    </v-row>
                </div>
                <v-footer class="d-flex align-center justify-center ga-2 flex-wrap flex-grow-1 py-3" app="true"
                    color="surface-light">
                    <div class="flex-1-0-100 text-center mt-2">
                        {{ new Date().getFullYear() }} — <strong>Vuetify</strong>
                    </div>
                </v-footer>
            </v-main>

        </v-layout>
        <!-- </v-card> -->

        <!--v-footer class="d-flex align-center justify-center ga-2 flex-wrap flex-grow-1 py-3" color="surface-light">
            <div class="flex-1-0-100 text-center mt-2">
                {{ new Date().getFullYear() }} — <strong>Vuetify</strong>
            </div>
        </v-footer-->
    </template>

    <script setup>
        const { createApp, ref, defineProps, reactive } = Vue;
        const { createVuetify, useTheme, version } = Vuetify;
        const vervion = version;

        const vuetify = createVuetify({
            /*
            theme: {
                defaultTheme: "dark",
            },
            */
        });
        const app = createApp({
            template: "#app-template",
            setup() {
                const faceId = 10;
                const faceIdUrl = "https://randomuser.me/api/portraits/men/22.jpg";

                const usersList = {
                    firstNames: ["Pedros", "Ped", "Huanos", "Domingo", "Aloisos"],
                    lastNames: ["Awataros", "Gudrios", "Aliende", "Boliwaro"]
                };
                var drawer = Vue.ref(false);
                var group = Vue.ref(null);
                var items = Vue.ref([
                    {
                        title: 'Foo',
                        value: 'foo',
                    },
                    {
                        title: 'Bar',
                        value: 'bar',
                    },
                    {
                        title: 'Fizz',
                        value: 'fizz',
                    },
                    {
                        title: 'Buzz',
                        value: 'buzz',
                    },
                ]);

                return {
                    faceId,
                    faceIdUrl,

                    drawer,
                    group,
                    items
                    , usersList
                }
            },
            created() {
                console.log(version);
                var faceId = Math.floor(10 + Math.random() * 90);
                this.faceId = faceId;
                this.faceIdUrl = `https://randomuser.me/api/portraits/men/${faceId}.jpg`;
            },
            mounted() {

            },
            watch: {

            },
            methods: {

                getGeneratedEmailAddress() {
                    var ret = "awataros.pedros@gmail.com";
                    if (this.usersList.firstName && this.usersList.lastName) {
                        ret = `${this.usersList.firstName.toLowerCase()}.${this.usersList.lastName.toLowerCase()}@gmail.com`
                    };
                    return ret;
                },

                getGeneratedName() {
                    var ret = "Awataros Pedros"
                    if (this.usersList.firstName && this.usersList.lastName) {
                        ret = `${this.usersList.firstName} ${this.usersList.lastName}`
                    };
                    return ret;
                },
                generateName() {
                    var firstNames = this.usersList.firstNames;
                    var lastNames = this.usersList.lastNames;

                    var ret = "Awataros Pedros"
                    var min = 0, max;
                    max = firstNames.length - 1;
                    var firstIndex = Math.floor(Math.random() * (max - min + 1) + min);
                    max = lastNames.length - 1;
                    var lastIndex = Math.floor(Math.random() * (max - min + 1) + min);

                    this.usersList.firstName = firstNames[firstIndex];
                    this.usersList.lastName = lastNames[firstIndex];
                    ret = `${firstNames[firstIndex]} ${lastNames[lastIndex]}`;

                    console.log('generateName', firstIndex, lastIndex, ret);
                    return ret;
                },

            }
        })
            .use(vuetify)
            .mount("#app");
    </script>
</body>