<!--
TRY to 
https://github.com/vue-leaflet/vue-leaflet
https://leafletjs.com/examples/quick-start/
https://vue2-leaflet.netlify.app/
https://github.com/vue-leaflet/Vue2Leaflet
https://www.jsdelivr.com/package/npm/@vue-leaflet/vue-leaflet
https://vuejs.org/guide/components/registration.html#global-registration
-->

<!DOCTYPE html>
<html>

<head>
    <title>Vuetify List example NG V3</title>
    <!--link rel="shortcut icon" type="image/png" href="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-300.png" /-->
    <link rel="shortcut icon" type="image/png"
        href="https://raw.githubusercontent.com/dmvstar/vuetify-tests/main/src/nodered/webs/sales/assets/vuetifyjs-128x128-v.2.png" />
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/vuetify@3.7.4/dist/vuetify.min.css" rel="stylesheet" />
</head>

<body>
    <div id="app">{{ message }}</div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.7.4/dist/vuetify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@vue-leaflet/vue-leaflet@0.10.1/dist/vue-leaflet.umd.min.js"></script>

    <script type="text/x-template" id="app-template">
      <v-app>
        <v-snackbar
          :timeout=snackBar.timeout
          class="elevation-24"
          color="primary"
          v-model="snackBar.snackbar">{{ snackBar.title }}
        <template v-slot:actions>
          <v-btn
            color="black"
            variant="tonal"
            @click="snackBar.snackbar = false; workModes.loading = false">
            Close
          </v-btn>
        </template>
        </v-snackbar>
        <v-card
          class="mx-auto"
          width="800"
          append-icon="mdi-human-greeting"
        >
          <template v-slot:title>
            {{title}}
          </template>
          <v-card-text>
            {{verInfo}}
          </v-card-text>

          <v-card-text>
          <v-select
            :items="listItems"
            v-model="workModes.loadMode"
            density="compact"
            label="Mode">

          <template #append>
            <v-tooltip>
              <template v-slot:activator="{ props }">
                <v-btn
                  id="ID_goGetDecsBySelect"
                  :disabled="workModes.loading"
                  variant="tonal"
                  rounded="sm" size="x-large"
                  v-bind="props"
                  icon="mdi-briefcase-download"
                  @click="goGetDecsBySelect">
                  <template v-slot:default>
                    <v-icon color="success"></v-icon>
                  </template>
                </v-btn>
              </template>
              <span>Get a new DECS for {{ workModes.loadMode }} apps.</span>
            </v-tooltip>
          </template>
          </v-select>

      <v-list density="compact" v-model:selected="listApiItemsSelected" select-strategy="leaf">

      <v-list-subheader>API</v-list-subheader>

      <v-list-item        
        v-for="item in listApiItems"
        :key="item.code"
        :value="item.code"
        color="primary"
        active-class="text-pink"
        class="py-3"        
      >
      
        <template v-slot:prepend>
          <v-icon :icon="item.icon"></v-icon>
        </template>

        <v-list-item-title v-text="item.code"></v-list-item-title>
        <v-list-item-subtitle class="mb-1 text-high-emphasis opacity-100">{{ item.name }}</v-list-item-subtitle>
        <v-list-item-subtitle class="text-high-emphasis">{{ item.info }}</v-list-item-subtitle>
        <v-list-item-subtitle class="text-high-emphasis">          
          <v-text-field v-if="item.kind==1"
            label="Email address"
            placeholder="johndoe@gmail.com"
            type="email"
          ></v-text-field>
        </v-list-item-subtitle>
        
        <template v-slot:append="{ isSelected }">
          <v-list-item-action class="flex-column align-end">
            <small class="mb-4 text-high-emphasis opacity-60">{{ item.action }}</small>
            <v-spacer></v-spacer>
            <v-icon v-if="isSelected" color="yellow-darken-3">mdi-star</v-icon>
            <v-icon v-else class="opacity-30">mdi-star-outline</v-icon>
          </v-list-item-action>
        </template>
        
      </v-list-item>
      <!--
      https://vuetifyjs.com/en/components/lists/#action-with-text
      -->
    </v-list>
          </v-card-text>
          <v-card-actions>
            <v-row>
                <v-col cols="12" md="6" sm="6">
            <v-btn
                  id="ID_goGetDataApi"
                  :disabled="workModes.loading"
                  variant="tonal"
                  block
                  rounded="sm" size="x-large"                  
                  icon="mdi-cloud-download"
                  @click="goGetDataApi">
                  <template v-slot:default>
                    <v-icon color="success"></v-icon>
                  </template>
                </v-btn>
                </v-col>
                <v-col cols="12" md="6" sm="6">
                    <v-btn
                  id="ID_goPutDataApi"
                  :disabled="workModes.loading"
                  variant="tonal"
                  block
                  rounded="sm" size="x-large"                  
                  icon="mdi-cloud-upload"
                  @click="goPutDataApi">
                  <template v-slot:default>
                    <v-icon color="warning"></v-icon>
                  </template>
                </v-btn>
                </v-col>
                </v-row>
          </v-card-actions>
        </v-card>
        {{listApiItemsSelected}}
            
      </v-app>
  
    </script>
    <script setup>

        const { createApp, ref, reactive, defineProps } = Vue;
        const { createVuetify, useTheme, version } = Vuetify;

        const vuetify = createVuetify({});

        const app = createApp({
            template: "#app-template",

            setup() {
                const title = Vue.ref("Vuetify 3.0");
                const verInfo = Vue.ref("ver. 0.0.2");
                const theme = useTheme();

                var workModes = Vue.ref({
                    loadMode: "ASWP",
                    loading: false,
                });
                var snackBar = Vue.ref({
                    snackbar: false,
                    title: "Get a new DECS for ...",
                    timeout: 2000,
                });

                var dialogInfo = Vue.ref(false);

                var selected_desserts = Vue.ref([]);
                var desserts = Vue.ref([]);
                var editedIndex = Vue.ref(-1);
                var editedItem = Vue.ref({
                    name: "",
                    calories: 0,
                    fat: 0,
                    carbs: 0,
                    protein: 0,
                });
                var defaultItem = Vue.ref({
                    name: "",
                    calories: 0,
                    fat: 0,
                    carbs: 0,
                    protein: 0,
                });

                var listItems = ["ASWP", "ACCS", "NONE"];
                var listApiItems = Vue.ref([]);
                var listApiItemsSelected = Vue.ref([]);

                return {
                    snackBar,
                    workModes,
                    title,
                    verInfo,
                    dialogInfo,

                    listItems,
                    listApiItems,
                    listApiItemsSelected,
                };
            },
            created() {
                console.log("verInfo: ", this.verInfo);
                this.initialize();
            },

            watch: {
                "workModes.snackbar"(value) {
                    if (value === false) {
                        //this.workModes.loading = false;
                    }
                },
            },

            methods: {
                initialize() {
                    this.listApiItems = [
                        {
                            code: "ENABLE_API_1",
                            kind: 3,
                            value: true,
                            name: "Enable external API 1",
                            info: "http://site.a/api/v1/test/send",
                            icon: 'mdi-clock'
                        },
                        {
                            code: "ENABLE_API_2",
                            kind: 3,
                            value: true,
                            name: "Enable external API 2",
                            info: "http://site.a/api/v1/test/update",
                            icon: 'mdi-clock'
                        },
                        {
                            code: "ENABLE_API_3",
                            kind: 3,
                            value: true,
                            name: "Enable external API 3",
                            info: "http://site.a/api/v1/test/list",
                            icon: 'mdi-clock'
                        },
                        /*
                        {
                          code: "USER_INFO",
                          kind: 1,
                          value: "Info",
                          name: "User Info",
                          info: "User Info",
                          icon: 'mdi-flag'
                        },
                        */
                    ];
                },
                //https://stackoverflow.com/questions/56686652/vuetify-how-to-highlight-row-on-click-in-v-data-table
                //https://codepen.io/Hexodus/pen/ExKGWBe               

                goGetDecsBySelect(event) {
                    this.snackBar.snackbar = true;
                    this.workModes.loading = true;
                    this.snackBar.title = `Get a new DECS for ${this.workModes.loadMode} apps.`;
                    this.snackBar.timeout = 3000;
                    setTimeout(() => {
                        this.workModes.loading = false;
                        this.snackBar.snackbar = true;
                        this.snackBar.title = `Loading new DECS for ${this.workModes.loadMode} apps complete.`;
                        this.snackBar.timeout = 3000;
                    }, 5000);
                    //setTimeout(function () { console.log("Howdy!"); this.workModes.loading = false; }, 7000);
                    //alert(this.workModes.loadMode);
                },

                goPutDataApi(event) {
                    this.snackBar.snackbar = true;
                    this.workModes.loading = true;
                    this.snackBar.title = `Put selected Api to Database.`;
                    this.snackBar.timeout = 3000;
                    setTimeout(() => {
                        this.workModes.loading = false;
                        this.snackBar.snackbar = true;
                        this.snackBar.title = `Put selected Api to Database complete.`;
                        this.snackBar.timeout = 3000;
                    }, 5000);
                },

                goGetDataApi(event) {
                    this.snackBar.snackbar = true;
                    this.workModes.loading = true;
                    this.snackBar.title = `Get selected Api from Database.`;
                    this.snackBar.timeout = 3000;
                    setTimeout(() => {
                        this.workModes.loading = false;
                        this.snackBar.snackbar = true;
                        this.snackBar.title = `Get selected Api from Database complete.`;
                        this.snackBar.timeout = 3000;
                    }, 5000);
                },

            },
        })
            .use(vuetify)
            .mount("#app");
    </script>
</body>

</html>